@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root{
    --color-purple: #8E7BEF;
    --color-black: #222222;
    --color-yellow: #FCDA68;
    --color-dark-black: #423F49;
    --color-white: #FFFFFF;
    --color-gray: #F9F5F2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.titulo{
    font-size: 50px;
    font-weight:600px ;
}

.subtitulo{
    font-size: 23px;
    font-weight: 400;
}

.subsection{
    font-size: 20px;
    font-weight: 400;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
}

input#menu-hamburguesa ~ ul{
    background-color: var(--color-purple);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1.5rem 0;
}

input#menu-hamburguesa ~ ul li{
    width: 100%;
}

input#menu-hamburguesa ~ ul li a{
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    color: var(--color-black);
}

input#menu-hamburguesa ~ ul li a:hover{
    background-color: var(--color-yellow);
}


input#menu-hamburguesa:checked ~ ul{
    display: flex;
}

input#menu-hamburguesa{
    visibility: hidden;
}

/* header */

.seccion_principal{
    padding-left: 1rem;
}

.seccion_info{
    display: flex;
}

.seccion_info img {
    max-width: 49%;
    object-fit: cover;
}

.box_info{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_info .experiencia{
    color: var(--color-dark-black);

}

.box_info .experiencia span {
    color: var(--color-purple);
}

.seccion__redes{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.seccion__redes .icon{
    width: 45px;
    height: 45px;
    background-color: var(--color-purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}