/* --- tipo de letra --- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* --- CSS Var ---  */
:root {
  --color-purple: #8e7bef;
  --color-yellow: #fcda68;
  --color-black: #222222;
  --color-dark-black: #423f49;
  --color-white: #ffffff;
  --color-gray: #f9f5f2;
  --weight-regular: 200;
  --weight-bold: 600;
}

/* --- Reset --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: var(--color-white);
}

/* --- Estilos Nav ---  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
  height: 60px;
}

input#menu-hamburguesa ~ ul {
  background-color: var(--color-purple);
  list-style: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  flex-direction: column;
  align-items: center;
  display: none;
  padding: 1.5rem 0;
}

input#menu-hamburguesa ~ ul li {
  width: 100%;
}

input#menu-hamburguesa ~ ul li a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  border-bottom: 0.3rem solid transparent;
}

input#menu-hamburguesa ~ ul li a:hover {
  background-color: var(--color-yellow);
}

input#menu-hamburguesa:checked ~ ul {
  display: flex;
}

input#menu-hamburguesa {
  visibility: hidden;
}

/* --- Estilos Header ---  */

.container {
  width: min(100%, 350px);
  margin-left: auto;
  margin-right: auto;
}

.principal-title {
  font-size: 3.2rem;
  font-weight: var(--weight-bold);
  margin-bottom: 15px;
  color: var(--color-black);
}

.principal-text {
  font-size: 1.2rem;
  font-weight: var(--weight-regular);
  line-height: 1.3;
  margin-bottom: 15px;
  color: var(--color-dark-black);
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.info img {
  width: 100%;
  object-fit: cover;
}

.box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 0.7rem;
  padding-bottom: 1rem;
}

.info-texto,
.info-exper {
  color: var(--color-dark-black);
}

.info-exper__text {
  font-size: 1.1rem;
  color: var(--color-purple);
}

.box-icon {
  display: flex;
  justify-content: space-between;
}

.box-icon__box {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--color-purple);
}

.contactame__btn {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: 1.1rem;
  text-decoration: none;
  border: none;
  width: 60%;
  margin: 30px auto;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* --- Habilidades y Experiencia --- */

.main {
  background-color: var(--color-yellow);
  padding: 25px 0;
  margin-bottom: 2.5rem;
}

.title-section {
  font-size: 2rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.text-section {
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.experience__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.8rem 0;
  border-bottom: solid 1px var(--color-black);
}

.experience__item:nth-child(4) {
  border-bottom: none;
}

.experience__date {
  font-size: 0.8rem;
  align-self: center;
}

.experience__info {
  grid-column: 2/3;
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  gap: 1rem;
}

.skill__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.skill__box img {
  width: 50px;
  height: 50px;
}

.title-skill {
  grid-column: 1/3;
}

/* --- Portafolio --- */

.portafolio {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1rf;
  gap: 1.75rem;
}

.portafolio__item h3 {
  font-size: 20px;
  color: var(--color-purple);
  margin-bottom: 0.75rem;
}

.portafolio__item img {
  width: 100%;
}
/* --- Contacto --- */
#contacto {
  text-align: center;
}

.contacto h2 {
  margin-bottom: 1.5rem;
}

.contacto .corp {
  padding: 2rem 0;
  color: var(--color-purple);
}

.contacto__box {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.contacto__box-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--color-gray);
  border-radius: 50%;
  padding: 1rem;
}

.contact-title {
  font-size: 1rem;
  font-weight: var(--weight-bold);
}

.contact-text {
  color: var(--color-dark-black);
}

.corp {
  margin: 2rem;
}

/* --- Responsividad --- */

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  label {
    display: none;
  }

  input#menu-hamburguesa ~ ul {
    position: static;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
  }

  input#menu-hamburguesa ~ ul li a:hover {
    background-color: transparent;
    border-bottom: 0.3rem solid var(--color-yellow);
  }

  /* --- Header --- */
  .container {
    width: min(90%, 855px);
  }
  .header-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap :1rem;
  }

  .info {
    grid-row: span 2;
  }

  .info img {
    object-fit: cover;
    object-position: left;
    min-height: 100%;
  }

  .info {
    grid-template-columns: 1fr 1fr;
  }

  .box-info {
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 1rem;
  }

  .box-icon{
    justify-content: space-around;
  }

  /* --- Experience and Skills --- */

  .skillAndExperience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .skill{
    grid-column: span 2;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .title-skill{
    grid-column: 1 / 5;
  }

  /* --- Protafolio --- */

  .portafolio{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  }

  .portafolio__title{
    grid-column: span 3;
  }

} /* termina media query para landscape   */

/* media query para desktop */
@media screen and (min-width: 992px) {
}

/* desktop big */
@media only screen and (min-width: 1200px) {
  /* header */
  .container {
    width: min(100%, 1000px);
  }

  .header-box{
    grid-template-columns: 1fr 1fr;
  }
}
